<div class="uiLogin">
	<img class="logo" src="images/logo_0.png" alt="">
	<div class="right">
		<div class="label">username</div>
		<input type="text" class="el textbox txtUsername" placeholder="username">
		<div class="label">password</div>
		<input type="password" class="el textbox txtPassword" placeholder="password">
		<div class="top-buttons">
			<div class="el btn btnRegister">register</div>
			<div class="el btn btnLogin">login</div>
		</div>
		<div class="message"></div>
	</div>
	<div class="news" location="https://gitlab.com/Isleward/isleward/tags/v0.3.3">[ Latest Release Notes ]</div>
	<div class="extra">
		<div class="el btn btnPatreon" location="https://patreon.com/bigbadwaffle">Pledge on Patreon</div>
		<div class="el btn btnPaypal" location="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=BR2CC82WUAVEA">Donate on Paypal</div>
		<div class="el btn btnWiki" location="http://wiki.isleward.com/Main_Page">Access the Wiki</div>
	</div>
	<div class="version" location="https://gitlab.com/Isleward/isleward/tags/v0.3.3">v0.3.3</div>
</div>
